* {
    box-sizing: border-box;
  }

.hello{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 25px;
  width: 100%;
}

body {
    padding: 10px;
    background: url("https://media.istockphoto.com/vectors/abstract-hexagon-wallpaper-white-background-3d-vector-illustration-vector-id1212342896?k=6&m=1212342896&s=612x612&w=0&h=nSrJdsoJk321VPZtE5B5jnhyDzmOOHxEkZSYVgPxxoI=");
    background-repeat: none;
    background-size: cover;
    color: black;
    font-size: 25px;

  }
  
img{
   padding-left: 40%;
   margin-top: 20px;
 
}
.header{
    padding-left: 40%;
    color: rgb(0, 140, 255);

}

.color_mode{
    display: inline-block;
    
}
.dwmode{
    position: fixed;
    right: 20;
    top: 20;
}



/* body {
    background-image: url('kubernetesfinal.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  } */

.output{
    
    height: 45%;
    width:70%;
    top: 80%;
    right: 10%;
    left: 15%;
    position: absolute;
    overflow: scroll;
    scroll-behavior: smooth;
    background-color: whitesmoke;
    
  
}

.title{
    font-size: 30px;
    text-align: center;
    background-color: rgb(0, 140, 255);
    color: white; 
    
}


button{
    background-color: white;
    
    min-width: 5%;
    border-radius: 5px;
    color: blue;
    border: none;
    margin: 4px 2px;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    transition-duration: 0.4s;
    cursor: pointer;
    
}

.form-popup1,
.form-popup2,
.form-popup3,
.form-popup4,
.form-popup5,
.form-popup6,
.form-popup7{
    display: none;
    position: absolute;
    top: 25%;

    z-index: 9;
    left:37%;
    width: 25%;
    /* bottom:42%; */
    min-height: 10%;
  }


  .button1:hover,
  .button2:hover,
  .button3:hover,
  .button4:hover,
  .button5:hover,
  .button6:hover,
  .button7:hover,
  .button8:hover {
    
    background-color: rgb(0, 140, 255);
    color: white;
  }

    /* Add styles to the form container */
    .form-container1,
    .form-container2,
    .form-container3,
    .form-container4,
    .form-container5,
    .form-container6,
    .form-container7 {
      
        max-width: 100%;
        min-height: 300px;
        
      padding: 15px 15px 15px;
        padding-top: 25px;
        background-color: white;
        color: blue;
        font-size: 20px;
        border: #070000;
      
    }

    .form-container1 .btn1,
    .form-container2 .btn2,
    .form-container3 .btn3,
    .form-container4 .btn4,
    .form-container5 .btn5,
    .form-container6 .btn6,
    .form-container7 .btn7{
      background-color: #04AA6D;
      color: white;
      padding: 10px 20px;
      border: none;
      cursor: pointer;
      width: 45%;
      margin-bottom: 10px;
      opacity: 0.8;
    }
    .form-container1 .cancel1,
    .form-container2 .cancel2,
    .form-container3 .cancel3,
    .form-container4 .cancel4,
    .form-container5 .cancel5,
    .form-container6 .cancel6,
    .form-container7 .cancel7{
      background-color: red;
    }

    .form-container1 .btn1:hover,
    .form-container2 .btn2:hover,
    .form-container3 .btn3:hover,
    .form-container4 .btn4:hover,
    .form-container5 .btn5:hover,
    .form-container6 .btn6:hover,
    .form-container7 .btn7:hover,
    .form-container8 .btn8:hover{
      opacity: 1;
    }

    /* When the inputs get focus, do something */
    .form-container1 input[type=text]:focus,
    .form-container2 input[type=text]:focus,
    .form-container3 input[type=text]:focus,
    .form-container4 input[type=text]:focus,
    .form-container5 input[type=text]:focus,
    .form-container6 input[type=text]:focus,
    .form-container7 input[type=text]:focus{
      background-color: #ddd;
      outline: none;
    }
    /* Full-width input fields */
    .form-container1 input[type=text],
    .form-container2 input[type=text],
    .form-container3 input[type=text],
    .form-container4 input[type=text],
    .form-container5 input[type=text],
    .form-container6 input[type=text],
    .form-container7 input[type=text]{
      width: 100%;
      padding: 15px;
      margin: 5px 0 22px 0;
      border: none;
      background: #f1f1f1;
    }
